cache/
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/

# # Data outputs
trajectory*.csv
schedule.csv
student_data.csv
professor_data.csv
trajectories/*.csv
data_source/schedule*.csv

# # Visualization outputs
# *.html
# *.png
